In [2]:
from google.cloud import storage
import pyspark
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('test').getOrCreate()
spark

In [13]:
df = spark.read.json('restaurants.json')

In [14]:
df.show()

+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
|             address|      borough|             cuisine|              grades|                name|restaurant_id|
+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
|{1007, {[-73.8560...|        Bronx|              Bakery|[{{1393804800000}...|Morris Park Bake ...|     30075445|
|{469, {[-73.96170...|     Brooklyn|          Hamburgers|[{{1419897600000}...|             Wendy'S|     30112340|
|{351, {[-73.98513...|    Manhattan|               Irish|[{{1409961600000}...|Dj Reynolds Pub A...|     30191841|
|{2780, {[-73.9824...|     Brooklyn|           American |[{{1402358400000}...|     Riviera Caterer|     40356018|
|{97-22, {[-73.860...|       Queens|       Jewish/Kosher|[{{1416787200000}...|  Tov Kosher Kitchen|     40356068|
|{8825, {[-73.8803...|       Queens|           American |[{{1416009600000}...|Brunos On The Bou...|     40356151|
|{2206, {[-74.1377...|Staten Island|       Jewish/Kosher|[{{1412553600000}...|       Kosher Island|     40356442|
|{7114, {[-73.9068...|     Brooklyn|        Delicatessen|[{{1401321600000}...|  Wilken'S Fine Food|     40356483|
|{6409, {[-74.0052...|     Brooklyn|           American |[{{1405641600000}...|     Regina Caterers|     40356649|
|{1839, {[-73.9482...|     Brooklyn|Ice Cream, Gelato...|[{{1405296000000}...|Taste The Tropics...|     40356731|
|{2300, {[-73.8786...|        Bronx|           American |[{{1401235200000}...|           Wild Asia|     40357217|
|{7715, {[-73.9973...|     Brooklyn|           American |[{{1397606400000}...|C & C Catering Se...|     40357437|
|{1269, {[-73.8711...|     Brooklyn|             Chinese|[{{1410825600000}...|     May May Kitchen|     40358429|
|{1, {[-73.9692690...|    Manhattan|           American |[{{1399420800000}...|1 East 66Th Stree...|     40359480|
|{705, {[-73.96539...|     Brooklyn|       Jewish/Kosher|[{{1415577600000}...|         Seuda Foods|     40360045|
|{203, {[-73.97822...|     Brooklyn|Ice Cream, Gelato...|[{{1391990400000}...|    Carvel Ice Cream|     40360076|
|{265-15, {[-73.70...|       Queens|Ice Cream, Gelato...|[{{1414454400000}...|    Carvel Ice Cream|     40361322|
|{6909, {[-74.0259...|     Brooklyn|        Delicatessen|[{{1408579200000}...|   Nordic Delicacies|     40361390|
|{522, {[-73.95171...|    Manhattan|           American |[{{1409616000000}...|       Glorious Food|     40361521|
|{284, {[-73.98292...|     Brooklyn|           American |[{{1416355200000}...|   The Movable Feast|     40361606|
+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- address: struct (nullable = true)
 |    |-- building: string (nullable = true)
 |    |-- coord: struct (nullable = true)
 |    |    |-- coordinates: array (nullable = true)
 |    |    |    |-- element: double (containsNull = true)
 |    |    |-- type: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- grades: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- date: struct (nullable = true)
 |    |    |    |-- $date: long (nullable = true)
 |    |    |-- grade: string (nullable = true)
 |    |    |-- score: long (nullable = true)
 |-- name: string (nullable = true)
 |-- restaurant_id: string (nullable = true)